body {
    background-color: var(--bs-light);
}

:root {
    --my-panel-bg: var(--bs-white);
    --my-panel-color: var(--bs-dark);
}

[data-bs-theme="dark"] {
    --my-panel-bg: var(--bs-dark);
    --my-panel-color: var(--bs-light);
}

section {
    background-color: var(--my-panel-bg);
    color: var(--my-panel-color);
}



h4 {
    color: #0F172A;

}

p {
    color: #333333;
    margin: 0;
}


.btn {
    /* background: #B2D7F1; */
    border: unset;
    border-radius: 20px;
    /* color: #fff; */
    border: 1px #5Ea4DA solid;
    color: #000;
}

.btnUpdate {
    background: #EBEFF5;
}


.btn svg {
    width: 16px;
}

.btnAdd svg {
    fill: #fff;
}

.btnAdd:hover svg {
    fill: #000;
}


.btn:hover {
    background: #d6edff;
    color: #000;
}


.btnAdd {
    background: #1379d4;
    color: #000;
    color: #fff;
    padding: .75em 1.25em;
}

.btnAdd svg {
    width: 2rem;
    height:2rem;
    fill: #fff ;
}

.btnAdd h6 {
    margin-bottom: 0;
    font-weight: 600;
}


.form-check-input {
    border: 1px solid #1c1c1c;
}

.UpdateItemHeight {
    width: auto;
    height: 300px;
    overflow: scroll;

}

.border-bule {
    border-bottom: 3px solid #5Ea4DA;
}

.border-red {
    border-bottom: 3px solid #da5e5e;
}


.border-green {
    border: 3px solid #6fda5e;
}

.bg-F7F9FC {
    background-color: #F7F9FC;
}

.bg-eaedf1 {
    background-color: #eaedf1;
}

/* 10/2 */

nav .btn {
    text-align: left;
    width: 100%;
    border: unset;
    border-radius: unset;
    padding: .5rem 2em .5rem 2em;
    display: flex;
    margin: .25rem 0;
}

nav h5 {
    color: #000000;
    margin-bottom: 0;
    margin-left: .75rem;
}

nav svg {
    fill: #000000;
}

nav .btn:hover {
    background: #fff !important;
}

nav .btn:hover h5 {
    color: #5FA4D7 !important;
}

nav .btn:hover svg {
    fill: #000000 !important;
}

/* nav .active{
    color: #fff !important;
    background: #383838 !important;
} */

.indexListItem:hover {
    background: #f7f9fcdc !important;
}


.editIcon svg{
    width: 1.5rem ;
    height: auto ;
    fill: #000000;
}

.groupNameIcon{
    width: 1.5em ;
    fill: rgba(var(--bs-warning-rgb));
}

/* .accordion-button {
    background: #fff !important;
}

.accordion-button h5 {
    color: #5FA4D7 !important;
}

.accordion-button svg {
    fill: #5FA4D7 !important;
}

.accordion-button.collapsed {
    background: transparent !important;
}

.accordion-button.collapsed h5 {
    color: #fff !important;
}

.accordion-button.collapsed svg {
    fill: #fff !important;
} */

.show button {
    background: #5797c9 !important;
}

.tilteIcon {
    width: 24px;
    height: 24px;
    fill: #0091ff;
    vertical-align: middle;
    margin-right: 8px;
}

.search-bar svg {
    aspect-ratio: 1 / 1;
    height: 2em;
    fill: #5d5d5d;
    margin: 0 .5em;
}

.GroupedItem {
    /* background-color: #5797c9; */
}

.GroupedItem svg {
    width: 15px !important;
    height: auto !important;
    fill: #000000;
}

/* .GroupedItem.group {
     border-left: 3px solid #d4b413; 
}

.GroupedItem.prodcut {
     border-left: 3px solid #1379d4; 
} */

.GroupedItem:hover svg {
    fill: #ff0000;
}

.uploadItem{
    border-left: 3px solid #1379d4;    
}

.uploadItem svg {
    width: 32px !important;
    height: 32px !important;
    fill: #1379d4;
}

.uploadProdcutItem{
    border-left: 3px solid #1379d4;    
}

/* .uploadItem svg {
    width: 32px !important;
    height: 32px !important;
    fill: #1379d4;
} */