body {
    background-color: var(--bs-light);
}

:root {
    --my-panel-bg: var(--bs-white);
    --my-panel-color: var(--bs-dark);
    --vsbds-color-sky-500: #147AC8;
}

[data-bs-theme="dark"] {
    --my-panel-bg: var(--bs-dark);
    --my-panel-color: var(--bs-light);
}

section {
    background-color: var(--my-panel-bg);
    color: var(--my-panel-color);
}

.dropdown-menu {
    min-width: 100%;
    /* 至少跟按鈕一樣寬 */
    width: auto;
    /* 內容變寬時可自動增大 */
}




h4 {
    color: #0F172A;

}

p {
    color: #333333;
    margin: 0;
}


.btnUpdate {
    background: #EBEFF5;
}


.btn svg {
    width: 16px;
}



.btnAdd {
    background: var(--vsbds-color-sky-500);
    border: 2px solid var(--vsbds-color-sky-500);
    color: #fff;
    padding: .5rem 1rem;
}

.btnAdd svg {
    width: 24px;
    height: 100%;
    fill: #fff;
}

.btnAdd h6 {
    margin-bottom: 0;
    font-weight: 600;
}

.btnAdd:hover svg {
    fill: var(--vsbds-color-sky-500);
}


.btnAdd:hover {
    border: 2px solid var(--vsbds-color-sky-500);
    color: var(--vsbds-color-sky-500);
}

.btnCreate {
    border: 2px solid var(--vsbds-color-sky-500);
    color: var(--vsbds-color-sky-500);
    padding: .5rem 1rem;
}

.btnCreate svg {
    width: 24px;
    height: 100%;
    fill: var(--vsbds-color-sky-500);
}

.btnCreate:hover {
    background: var(--vsbds-color-sky-500);
    color: #fff;
}

.btnCreate:hover svg {
    fill: #fff;
}


.btnAdd,
.btnCreate {
    min-width: 160px;
    justify-content: center;
}

.form-check-input {
    border: 1px solid #1c1c1c;
}

.UpdateItemHeight {
    width: auto;
    height: 300px;
    overflow: scroll;

}

.border-bule {
    border-bottom: 3px solid #5Ea4DA;
}


.bg-F7F9FC {
    background-color: #F6F6F6;
}


nav h6 {
    color: #000000;
    margin-bottom: 0;
    margin-left: .75rem;
}

nav svg {
    width: 15px;
    fill: #000000;
}

nav .btn:hover {
    background: #ebeef2 !important;
}


nav .active {
    background: #F7F9FC !important;
    border-right: 3px solid #5FA4D7 !important;
}

nav .active h5 {
    color: #5FA4D7 !important;
}

nav .active svg {
    fill: #5FA4D7;
}

.groupNameIcon svg,
.productNameIcon svg {
    width: 20px;
}

/* .groupNameIcon svg {
    fill: #3d9be2;
}

.groupNameIcon span {
    color: #3d9be2;
} */

.productNameIcon svg {
    fill: var(--vsbds-color-sky-500);
}

.productNameIcon span {
    color: var(--vsbds-color-sky-500);
}

.form-switch {
    width: max-content;
    margin: 0 auto;
}

.editIcon {
    display: flex;
    justify-content: center;
}

.editIcon svg {
    width: 35px !important;
    height: auto;
    fill: var(--vsbds-color-sky-500);
}

.editIcon button {
    padding: .25rem .75rem;
}

.editIcon button:hover svg {
    fill: #5EA4DA;
}


.tilteIcon {
    width: 24px;
    height: 24px;
    fill: #0091ff;
    vertical-align: middle;
    margin-right: 8px;
}

.search-bar svg {
    aspect-ratio: 1 / 1;
    height: 2em;
    fill: #5d5d5d;
    margin: 0 .5em;
}

.Grouped-product svg {
    /* fill: #1379d4; */
    width: 25px;
    height: 25px;
}


.Grouped-product .modal-body li {
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: .25em 1.25em;
    margin: .75rem auto;
    height: max-content;
    flex: 0 0 17.5%;
    list-style: none;
    color: #0091ff;
    border: 2px solid #0091ff;
}


.Grouped-product .col p {
    /* color: #1379d4; */
}


.uploadItem {
    border-left: 3px solid #1379d4;
}

.uploadItem svg {
    width: 32px !important;
    height: 32px !important;
    fill: #1379d4;
}

.uploadProdcutItem {
    border-left: 3px solid #1379d4;
}



.group-tag-input:focus {

    color: var(--bs-body-color);
    background-color: transparent;
    border-color: #86b7fe;
    box-shadow: none !important;
    /* 去除藍色外框陰影 */
    height: 100%;
    outline: none !important;
    caret-color: #000;
    /* 游標改成黑色（更明顯） */

}

.group-input {
    background: #EBF6FF;
    /* background: #fff; */
    /* color: #3d9be2; */
    font-weight: 600;
    /* color: #fff; */
    padding: .25em 1.25em;
    margin: .75rem .25rem;
    display: flex;
    align-items: center;
    /* border-radius: 8px; */

    /* box-shadow: 0 0px 5px rgba(0, 0, 0, 0.118); */
    /* border: 1px solid #3d9be2; */
}

.group-input.group {
    background: var(--vsbds-color-sky-500);
    /* border: 3px solid #51bd37; */
    color: #fff;
}

.group-input svg {
    width: 20px;
    height: 20px;
    /* margin: 0 0 0 .25rem;
    fill: #3d9be2; */
}

.group-input.group svg {
    fill: #fff;
}

.modal-header,
.modal-footer {
    border: unset;
}



#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

.check-products-button svg {
    fill: #198754;
}

.check-products-button:hover svg {
    fill: #fff;
}

.table-filiter select{
    border: 1px solid #767676;
    font-weight: 600;
}


.table-filiter select:hover {
    color: var(--vsbds-color-sky-500);
    background-color: transparent;
    border-color: var(--vsbds-color-sky-500);
}

.controlIcon svg {
    width: 30px;
    height: 30px;
    margin: .25em ;
    /* fill: #5FA4D7; */
}

.upload-form-list form:hover{
    transition: .1s;
}

.upload-form-list form:hover{
    background: #F6F6F6;
}